* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-column--center-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 2px solid limegreen;
}

/* .flex-column--start-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
} */

.flex-row--start-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#menu {
  width: 100%;
  padding: 1rem;
  background-color: red;
}
