<div id="menu" class="flex-row--start-start">
  <a id="menu__home-link" href='/'>MaintenanceManager</a>
  <div id="menu__quick-links">
    <a href='/Machines'>View Machines</a>
    <a href='/Engineers'>View Engineers</a>
  </div>
</div>