<header class="flex-row--start-start">
  <a id="menu__home-link" class="accent-font" href='/'>
    MaintenanceManager
    <span class="trade-marker accent-font">
      TM
    </span>
  </a>
  <div id="menu__quick-links">
    <a href='/Machines'>View Machines</a>
    <a href='/Engineers'>View Engineers</a>
  </div>
</header>