@{
  Layout = "_Layout";
}

<main class="flex-column--center-top">
  <h1 id="home-hero-h1">Welcome to MaintenanceManager</h1>

  <p class="hero-link">@Html.ActionLink("See all engineers", "Index", "Engineers")</p>
  
  <p class="hero-link">@Html.ActionLink("See all machines", "Index", "Machines")</p>
</main>
